/* You can add global styles to this file, and also import other style files */
.button-style {
  background-color: #ffc107;
  border-radius: 5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
